[submodule "stocknet-dataset"]
	path = stocknet-dataset
	url = https://github.com/yumoxu/stocknet-dataset.git
[submodule "FinRL"]
	path = FinRL
	url = https://github.com/AI4Finance-Foundation/FinRL.git
